<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{celebrity.name}}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Occupation: {{celebrity.occupation}}</p>
            <p>Catch phrase: <q><em>{{celebrity.catchPhrase}}</em></q></p>
        </div>
    </div>
    <div class="row">
        <div class="col"><a class="btn btn-dark" href="/celebrities/{{celebrity.id}}/edit">Edit</a></div>
        <div class="col"><a href="/celebrities">Go back</a></div>
    </div>
</div>