<div class="container">
    <div class="row">
        <div class="col-9">
            <h2>Most searched celebrities in 2020:</h2>
            {{#each allCelebrities}}
            <div class="row">
                <div class="col">
                    {{name}}
                </div>
                <div class="col">
                    <a href="/celebrities/{{id}}">See more</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="/celebrities/{{id}}/delete" method="POST">
                        <button type="submit" class="btn btn-dark">Remove</button>
                    </form>
                </div>
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Missing any celebrity?</p>
            <a class="btn btn-dark" href="/celebrities/new-celebrity">Add celebrity</a>
        </div>
        <div class="col">
            <a class="btn btn-dark" href="/">Go back</a>
        </div>
    </div>
</div>