<div class='container'>
    <h2>{{name}}</h2>
    <h3>{{occupation}}</h3>
    <p><strong>Catch Phrase: </strong>{{catchPhrase}}</p>
    <hr>
    <a href="/celebrities">Go back to the list</a>
</div>

