<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{celebrity.name}}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="details">
                <p><strong>Occupation:</strong> {{celebrity.occupation}}</p>
                <p> <strong>Catch phrase:</strong> <em><q>{{celebrity.catchPhrase}}</q></em></p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col"><a class="btn btn-dark btn-green" href="/celebrities/{{celebrity.id}}/edit">Edit</a></div>
        <div class="col"><a class="btn btn-dark" href="/celebrities">Go back</a></div>
    </div>
</div>