<h2>{{name}}</h2>

<hr>

<ul>
    <li>Occupation: {{occupation}}</li>
    <li>Most memorable line in a movie:
        <br>
        "{{catchPhrase}}"</li>
</ul>

<a href="/celebrities">Back to list</a>
