<div class="container">
    <h2>List of celebrities</h2>

    <hr>

    <ul>
        {{#each celebsArr}}
        <li>{{name}}</li>
        <a href="celebrities/{{id}}">Details</a>
        <form action="celebrities/{{id}}/delete" method="POST">
            {{!-- <label for="name">Name</label> --}}
            {{!-- <input name='name' type="text" class="form-control" id="{{id}}"> --}}
            <button type="submit" class="btn btn-dark">Delete Celebrity</button>
        </form>
        {{/each}}

        <br>
        <br>

        <a href="celebrities/new">Add new Celebrity</a>
    </ul>


</div>