<div class="container">.

    <div class="row">
        {{#each celebs}}.

            <div class="col-4">
                
                <h2>{{name}}</h2>


                <div class="d-flex">
                    <a class="btn btn-dark" href="/celebrities/{{id}}">info</a>

                    <form action="celebrities/{{id}}/delete" method="POST">
                        <button class="btn btn-dark" type="submit">delete</button>
                    </form>

                    <a class="btn btn-dark" href="celebrities/{{id}}/edit">edit</a>
                </div>
                

            </div>
        

         {{/each}}
    </div>
    
</div>

