<div>
    <h2>List of celebrities</h2>
    <hr>

    <ul>
        {{#each celebrities}}
        <li>
            {{name}} 
            <a href="/celebrities/details/{{id}}">Details</a>
        </li>
        {{/each}}
    </ul>

</div>