<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Add new Celebrity</h2>
            <hr>
            <form method="POST" action="/celebrities/new">
                <br>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name='name' type="text" class="form-control" id="name">
                </div>
                <br>
                <div class="form-group">
                    <label for="occupation">Occupation</label>
                    <input name='occupation' type="text" class="form-control" id="occupation">
                </div>
                <br>
                <div class="form-group">
                    <label for="catchPhrase">Cathphrase</label>
                    <input name='catchPhrase' type="text" class="form-control" id="catchPhrase">
                </div>       
                <br>         
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>