<div class="container"></div>
    <div class="row justify-content-center">
        <div class="col-6 ">
            <h2>Create a celebrity</h2>
            <form action="/celebrities/newCelebrity" method="POST">
                <label for="name">
                    Name:
                    <input name="name" type="text">
                <label for="occupation">
                    Occupation:
                    <input name="occupation" type="text">
                </label>
                <label for="catchPhrase">
                    Catch Phrase:
                    <input name="catchPhrase" type="text">
                </label>
                <button class="btn btn-dark" type="submit">Create new Celebrity</button>


            </form>
        </div>
    </div>
</div>


