<div class="container">

    <h2>{{name}}'s details Page</h2>

    <hr>


<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>

<hr>

<a class="btn btn-dark" href="/all-celebrities/">Back to the list</a>
</div>