<h2>Celebrities</h2>
<div>
    {{#each vip}}
    <a href="/celebrities/{{id}}">
        <h3>{{name}}</h3>
    </a>
    {{/each}}
    <a href="/celebrities/new">
        <h4>Add a New Star</h4>
    </a>
</div>