<div class="container">
    <h2>{{name}}</h2>
    <hr>
    <br>
    <p>Occupation: {{occupation}}</p>
    <p>One of the most recognized phrase of {{name}}:
        <br>
        - {{catchPhrase}}
    </p>
    <hr>
    <a href="/celebrities/index" class="btn btn-dark">Back to the celebrities list</a>
    <hr>
    <a href="/" class="btn btn-dark">Back to the home page</a>
</div>