<div class="container">

<h1>{{celebrities.name}}</h1>
<hr>
<p class="occupation">OCCUPATION: {{celebrities.occupation}}</p>
<p class="phrase">"{{celebrities.catchPhrase}}"</p>
<a href="/celebrities"class="btn bg-light text-success">Go back</a>
</div>