<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>{{title}}</h1>
            <p>Welcome to {{title}}!</p>
            <a class="btn btn-dark" href="/celebrities">See Celebrities</a>
        </div>
    </div>
</div>