<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Celebrities</h1>
            <hr>
            <p>Welcome to celebrities list</p>
            <a href="/all-celebrities" class="btn btn-dark">Show all celebrities</a>
        </div>
        <div class="col-6">
         <h1>Movies</h1>
         <hr>
         <p>Welcome to movies list</p>
        <a href="/all-movies" class="btn btn-dark">Show all movies</a>
        </div>
    </div>
</div>