<div class="container">
     <h1>WELCOME </h1>
    <hr>
    <div class="row">
   <div class="col-md-6">
 
        <img src="./../images/lol.gif" alt="Laughing">
    </div>
<div class="col-md-6">
    <p class="index-p">Have a good time with the funniest quotes from our celebrities.</p>
    <a href="/celebrities" class="btn bg-light text-success">SEE OUR FAVORITES PHRASES</a>
    </div>
  
    <div class="row">
        <div class="col-md-8">
            <p class="index-p">Here you have a list of the best movies. Enjoy it!</p>
            <a href="/movies" class="btn bg-light text-success">SEE OUR FAVORITES MOVIES</a>
        </div>
        <div class="col-md-4">
 
            <img src="./../images/cine.gif" alt="autocine">
        </div>
</div>   
</div>