<div class="container">

    <h1>{{movies.title}}</h1>
    <hr>
    <p class="genre">GENRE: {{movies.genre}}</p>
    <p class="plot">"{{movies.plot}}"</p>
    <a href="/movies" class="btn bg-light text-success">Go back</a>

   
</div>