<div class="container">
    <h1 class="epic">MOVIES</h1>
    <a href="/movies/new-movies" class="btn bg-light text-success">ADD A NEW MOVIE</a>
    <hr>
    {{#each movies}}
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">{{title}}</h2>
            <p class="genre">- {{genre}}</p>
            <a href="/movies/details/{{_id}}" class="btn bg-light text-success">SEE MORE DETAILS</a>

            <form method="POST" action="/movies/details/{{_id}}/delete">
                <button class="btn bg-light text-danger">DELETE</a>
            </form>
        </div>

    </div>
<hr>
    {{/each}}
</div>