<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>ADD NEW CELEBRITY</h1>

            <hr>

            <form method="POST" action="/celebrities/new-celebrities">

                <div class="form-group">
                    <label for="name">NAME</label>
                    <input name="name" type="text" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label for="occupation">OCCUPATION</label>
                    <input name="occupation" type="text" class="form-control" id="occupation">
                </div>

                <div class="form-group">
                    <label for="catchPhrase">CATCH PHRASE</label>
                    <input name="catchPhrase" type="text" class="form-control" id="catchPhrase">
                </div>

                <button type="submit"class="btn bg-light text-success">ADD NEW CELEBRITY</button>
            </form>

        </div>
    </div>


</div>