<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>ADD NEW MOVIE</h1>

            <hr>

            <form method="POST" action="/movies/new-movies">

                <div class="form-group">
                    <label for="title">TITLE</label>
                    <input name="title" type="text" class="form-control" id="title">
                </div>

                <div class="form-group">
                    <label for="genre">GENRE</label>
                    <input name="genre" type="text" class="form-control" id="genre">
                </div>

                <div class="form-group">
                    <label for="plot">PLOT</label>
                    <input name="plot" type="text" class="form-control" id="plot">
                </div>

                <button type="submit" class="btn bg-light text-success">ADD NEW MOVIE</button>
            </form>

        </div>
    </div>


</div>