<div class="container">
    <h2>{{title}}</h2>
    <hr>
    <br>
    <p>Genre: {{genre}}</p>
    <p>Sinopsis of {{title}}:
        <br>
        - {{plot}}
    </p>
    <hr>
    <a href="/movies/index" class="btn btn-dark">Back to the movies list</a>
    <hr>
    <a href="/" class="btn btn-dark">Back to the home page</a>
</div>