<div class="container text-center">
    <h2>Movies view</h2>
    <div class="row">
        <div class="col-md-12">
            <h3>{{title}}</h3>
            <p>{{genre}}</p>
            <p>{{plot}}</p>
            <a href="/movies">return</a>
        </div>

    </div>
</div>