<div>
    <h2>List of movies</h2>
    <hr>

    <ul>
        {{#each movies}}
        <li>
            {{title}} 
        </li>
        <a href="/movies/details/{{id}}">Details</a>
        {{/each}}
    </ul>

<a href="/movies/new">Add new</a>

</div>