<div class="container">

    <div class="row">

        {{#each movies}}

            <div class="col-4">

                <h2>{{title}}</h2>

                <div class="d-flex">
                    <a class="btn btn-dark" href="/movies/{{id}}">info</a>

                    <form action="movies/{{id}}/delete" method="POST">
                        <button class="btn btn-dark" type="submit">delete</button>
                    </form>

                    <a class="btn btn-dark" href="/movies/{{id}}/edit">edit</a>
                </div>
                
            </div>

        {{/each}}

    </div>
    
</div>
