<div class="container">
    <div class="row">
        <div class="col">
            <h2>Movies list</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {{#each allMovies}}
            {{title}}
            <hr>
            {{/each}}
        </div>
    </div>
</div>