<div class="container">
    <div class="row">
        <div class="col">
            <h2>Movies list</h2>
        </div>
    </div>

    {{#each allMovies}}
    <div class="row">
        <div class="col">{{title}}</div>
        <div class="col">
            <a href="/movies/{{id}}">See more</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/movies/{{id}}/delete" method="POST">
                <button type="submit" class="btn btn-dark">Remove</button>
            </form>
        </div>
    </div>
    <hr>
    {{/each}}

    <div class="row">
        <div class="col">
            <a class="btn btn-dark" href="/movies/new-movie">Add movie</a>
        </div>
        <div class="col">
            <a class="btn btn-dark" href="/">Go back</a>
        </div>
    </div>
</div>