<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Spanish Celeb site</h1>
            <a class="btn btn-dark" href="/celebrities">See our Celebrities</a>
            <div>
                <h2>Create a new celebritie</h2>
                <a class="btn btn-dark" href="/celebrities/new">Create</a>
            </div>
        </div>

        <div class="col-md-6">
            <h1>Movie's site</h1>
            <a class="btn btn-dark" href="/movies">See our movies</a>
            <div>
                <h2>Create a new movie</h2>
                <a class="btn btn-dark" href="/movies/new">Create</a>
            </div>

        </div>
    </div>

</div>