<div class="container">
    <h1>Welcome to {{siteTitle}}</h1>
    <br>
    <br>
    <a href="/celebrities/index" class="btn btn-dark spaced"> Go to the celebrities list</a>
    <a href="/movies/index" class="btn btn-dark"> Go to the movies list</a>
</div>