<div class="container">
    <h1>Welcome to {{siteTitle}}</h1>
    <a href="/celebrities">See all the celebrities</a><br>
    <a href="/celebrities/new">Register a celebrity</a><br>
    <a href="/movies">See all the movies</a><br>
    <a href="/movies/new">Register a movie</a>
</div>