<div class="container">
    <h1>Welcome to {{siteTitle}}</h1>
    <a href="/celebrities">
        <button class="btn btn-dark">check the celebrities</button>
    </a>
    <a href="/movies">
        <button class="btn btn-dark">check the movies</button>
    </a>
</div>
