<div class="container">
    <h1>Movies list</h1>
    <hr>
    <div class="row">
        <ul>
            {{#each allMovies}}
            <li>
                {{title}} | <a href="/movies/detalle/{{id}}">view details</a>
                | <a href="/movies/edit?movie_id={{id}}">edit movie</a>
            </li>
            <form class="theMovies" action="/movies/delete/{{id}}" method="POST">
                <button class="button" type="submit" class="btn-btn-dark">Delete this movie</button>
            </form>
            {{/each}}
        </ul>
    </div>

    <hr>
    <a href="/" class="btn btn-dark">Go back</a>
    <a href="/movies/crear" class="btn btn-dark">Add a new movie</a>
</div>