<div class="container">
    <div>
        <h2>Movies</h2>
        <br>
        <h3>{{title}}</h3>
        <ul>
            <li><strong>Genre:</strong> {{genre}}</li>
            <li><strong>Plot:</strong> {{plot}}</li>
            <br>
            <a class="btn btn-dark" href="/movies">Go back</a>
            <a class="btn btn-dark" href="/movies/edit?movies_id={{id}}">Edit</a>
        </ul>
    </div>
</div>

