<div class="container">
    <div>
        <h2>Spanish celebrities</h2>
        <br>
        <h3>{{name}}</h3>
        <ul>
            <li><strong>Occupation:</strong> {{occupation}}</li>
            <li><strong>Catch phrase:</strong> {{catchPhrase}}</li>
            <br>
            <a class="btn btn-dark" href="/celebrities">Go back</a>
            <a class="btn btn-dark" href="/celebrities/edit?celeb_id={{id}}">Edit</a>
        </ul>
    </div>
</div>