<div class="container">
    <h2>{{name}}</h2>
    <hr>
    <br>
    <p>Occupation: {{occupation}}</p>
    <p>The most importante phrase of {{name}} is {{catchPhrase}}

    <hr>
    <a href="/celebrities" class="btn btn-dark">go back </a>
</div>